<aside class="sidebar bg-light border-end" id="sidebarMenu">
  <div class="p-3">
    <h5 class="text-center">Menu</h5>
    <ul class="nav flex-column">
      <% if (user.role === 'admin') { %>
        <li class="nav-item"><a href="/admin/dashboard" class="nav-link"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
        <li class="nav-item"><a href="/admin/users" class="nav-link"><i class="bi bi-people"></i> Kelola User</a></li>
        <li class="nav-item"><a href="/admin/saldo-kirim" class="nav-link"><i class="bi bi-cash-stack"></i> Kirim Saldo</a></li>
        <li class="nav-item"><a href="/admin/metode" class="nav-link"><i class="bi bi-gear"></i> Metode Deposit</a></li>
      <% } else { %>
        <li class="nav-item"><a href="/dashboard" class="nav-link"><i class="bi bi-house"></i> Dashboard</a></li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#depositSub" role="button">
            <i class="bi bi-wallet2"></i> Deposit
          </a>
          <div class="collapse" id="depositSub">
            <ul class="nav flex-column ms-3">
              <li><a href="/deposit/new" class="nav-link">New Deposit</a></li>
              <li><a href="/deposit/history" class="nav-link">Riwayat Deposit</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item"><a href="/withdraw" class="nav-link"><i class="bi bi-arrow-down-circle"></i> Withdraw</a></li>
      <% } %>
    </ul>
  </div>
</aside>
