<h4>Deposit Baru</h4>
<form method="POST" action="/deposit/new">
  <input type="hidden" name="method_id" value="<%= metode.id %>" />
  <div class="mb-3">
    <label>Jumlah (tanpa kode unik)</label>
    <input type="number" name="jumlah" class="form-control" required />
  </div>
  <div class="mb-3">
    <label>QRIS (Metode: <%= metode.nama %>)</label><br/>
    <img src="/uploads/<%= metode.qr_image %>" class="img-fluid" style="max-height:200px" />
  </div>
  <button class="btn btn-success">Buat Invoice</button>
</form>
