<h4>Selamat datang, <%= user.username %></h4>
<div class="row mt-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5>Saldo Anda</h5>
        <h3>Rp <%= user.saldo.toLocaleString() %></h3>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <canvas id="chartTransaksi"></canvas>
  </div>
</div>

<script>
  const ctx = document.getElementById('chartTransaksi');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Deposit', 'Withdraw'],
      datasets: [{
        label: 'Total Transaksi',
        data: [<%= totalDeposit %>, <%= totalWithdraw %>],
        backgroundColor: ['#198754', '#dc3545']
      }]
    }
  });
</script>
